*{
    margin: 10;
    padding: 15;

}

header{
    background-color: #1e89cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

section{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px 0;
    padding: 10px 10px;
}

div{
    padding: 30%;;
}
section{
    display: flex;
    align-items: baseline;
    background-color: antiquewhite;
}